<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/nicepage.css">
    <link rel="stylesheet" href="../static/cover.css" >
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="cover">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#776dce">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">

  </head>
  <body class="u-body u-section-1" >

    <section class="u-clearfix u-image u-section-1" id="carousel_8761" >

      <div class="u-clearfix u-sheet u-sheet-1">

        <br><br>

      <h1 class ="u-text u-text-body-alt-color u-text-1">About Us</h1>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout-row">
              <h5 class="u-text u-text-body-alt-color u-text-2">
                As each of us holds a top-tier job  in the cinema industry, we decided to contribute our knowledge to the next generation.
                in order to accomplished that we built a website about the film industry.
                Our site enables students in the beginning of their career as filmmakers to learn about the industry, in order to make more successful career choices.
                Which genre is the most successful? Which production house has the most successful films?
                Who is the director who worked with the most actors?
                Our site will help its users get to know the world of cinema in depth, and also to know who are the key people which they would want to connect with them.
                So, maybe you will be the next Hollywood star!
              </h5>
              <a href="index" class="u-black u-btn u-btn-round u-button-style u-hover-grey-50 u-radius-50 u-btn-1">Let's Start !</a>
              <div class="u-align-right u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
              </div>
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




  </body>
</html>