<html>
    <header>
        <meta charset="utf-8">
              <link rel="stylesheet" href="../static/cover.css" >
        <link rel="stylesheet" href="../static/cover2.css">
    </header>
    <head>
        <style>
            body {
              background-image: url("../static/images/directors.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <h2 class="u-text u-text-body-alt-color u-text-2"> Directors Queries</h2>

    <body class="u-body">

    <script>
            // script for genres dropdown.
            $(function () {
                $.get( "{{ url_for('genres_dropdown') }}", function( data ) {
                    var s = "";
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                       }
                       $("#genresDropdown").html(s);
                });
            });
        </script>


        <form action="/query4_Dir" method="GET">
              <h5 class="u-text u-text-body-alt-color u-text-2">Get the top 20 directors who worked<br>
                in a variety of genres:</h5>
              <input type="submit" value="search">
          </form><br>


        <form action="/query7" method="GET">
            <h5 class="u-text u-text-body-alt-color u-text-2">Get 100 directors that directed more than 5 movies of a given genre</h5>
                      <span class="u-text u-text-body-alt-color u-text-2"> Choose genre:</span><br>
            <select name="query" class="form-control" id="genresDropdown" required></select>
            <input type="submit" value="search">
        </form><br>

    </body>
</html>