<html>
    <header>
        <meta charset="utf-8">
              <link rel="stylesheet" href="../static/cover.css" >
        <link rel="stylesheet" href="../static/nicepage.css">
    </header>
    <head>
            <style>
            body {
              background-image: url("../static/images/Films.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function allDirectors() {
                var availableTags = [];
                $( "#tags" ).autocomplete({
                  source: availableTags
                });
        } );
        </script>

    </head>

    <body class="u-body">
        <h2 class="u-text u-text-body-alt-color u-text-2"> Films query!!</h2>
        <form action="/query7" method="GET">
            <span class="u-text u-text-body-alt-color u-text-2">this query does that:</span>
            <br>
            <span class="u-text u-text-body-alt-color u-text-2"> this line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>


        <form action="/query11" method="GET">
            <h5 class="u-text u-text-body-alt-color u-text-2">2. Search for the highest rated movies from <br> a given decade:</h5>
            <label class="u-text u-text-body-alt-color u-text-2" for="years">Please select a decade to begin with: </label>
            <select name="query" id="years">
                <option value="1960">1960s</option>
                <option value="1970">1970s</option>
                <option value="1980">1980s</option>
                <option value="1990">1990s</option>
                <option value="2000">2000s</option>
                <option value="2010">2010s</option>
                <option value="2020">2020s</option>
            </select><br>
            <input type="submit" value="search">


        </form><br>


        <form action="/query0" method="GET">
            <span class="u-text u-text-body-alt-color u-text-2"> finds how many films created in a given country </span>
            <br>
            <span class="u-text u-text-body-alt-color u-text-2"> type a name of  country, 'usa' for example </span><br>

            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>


        <form action="/query6" method="GET">
            <span class="u-text u-text-body-alt-color u-text-2">Get top 100 films (by movie rating) for a given director:</span>
            <br>
            <span class="u-text u-text-body-alt-color u-text-2"> Insert a director name:</span><br>

            <div class="ui-widget">
                <input id="tags" name="query" required>
            </div>

            <input type="submit" value="search">
        </form><br>


    </body>
</html>