<html>
    <header>
        <meta charset="utf-8">
              <link rel="stylesheet" href="../static/cover.css" >
        <link rel="stylesheet" href="../static/nicepage.css">
    </header>
    <head>
            <style>
            body {
              background-image: url("../static/images/genress.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }
        </style>
    </head>

    <body class="u-body">
        <h2 class="u-text u-text-body-alt-color u-text-2"> Genres queries!!</h2>

        <form action="/query9" method="GET">
            <h5 class="u-text u-text-body-alt-color u-text-2">1. Find the top 10 genres with the highest <br> average ranking:</h5>
            <input type="submit" value="search">
        </form><br>

            <form action="/query10" method="GET">
            <h5 class="u-text u-text-body-alt-color u-text-2">2. Order all Genres by the amount of films <br> with rating 8 or above:</h5>
            <input type="submit" value="search">
        </form><br>

                <form action="/query3" method="GET">
            <h5 class="u-text u-text-body-alt-color u-text-2">3.Get the top 5 Genres <br> with the most workers:</h5>
            <label class="u-text u-text-body-alt-color u-text-2" for="years">Please select a  profession : </label>
            <select name="query" id="years">
                <option value="Actor">Actor</option>
                <option value="Writer">Writer</option>
                <option value="Director">Director</option>

            </select><br>
            <input type="submit" value="search">






    </body>
</html>