<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/nicepage.css">
    <link rel="stylesheet" href="../static/cover.css" >
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="cover">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#776dce">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">

  </head>
  <body class="u-body u-section-1" >
    <section class="u-clearfix u-image u-section-1" id="carousel_8761" >

      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-heading-font u-text u-text-body-alt-color u-text-default u-title u-text-1">Cinema Career Recommendation</h1>

        <br><br>
        <form action="/search" method="GET">
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form>

        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div >
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">

                  <h6 class="u-text u-text-body-alt-color u-text-2">

                      <a  href="Film_queries.html">FILMS</a><br>
                    <a  href="Actor_queries.html">ACTORS</a>
                    <a  href="Directors_queries.html">DIRECTORS</a><br>
                    <a  href="Producer_queries.html">PRODUCERS</a><br>
                     <a  href="Genre_queries.html">GENRES</a><br>
                    <a  href=”Link_of_page”>ABOUT US</a><br>
                  </h6>
                </div>
              </div>
              <div class="u-align-right u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h6 class="u-text u-text-body-alt-color u-text-3">Your Career Journey Begins Right Here.
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>



    <section class="u-backlink u-clearfix u-grey-80">
        <span>Database System Course - Tel Aviv University.</span>
      <br/>
      </a>
      <p class="u-text">
        <span>Created by Matan,Din,Elad,Ofek</span>
      </p>
      <a class="u-link"  target="_blank">
        <span></span>
      </a>.
    </section>
  </body>
</html>