
<!--    <head>-->
<!--        <link rel="stylesheet" href="{{url_for('static', filename='style_template.css')}}">-->
<!--    </head>-->
<!--    <body>-->
<!--        <form action="/search" method="GET">-->
<!--            <span>word:</span>-->
<!--            <input type="text" name="query" required>-->
<!--            <input type="submit" value="search">-->
<!--        </form>-->
<!--    </body>-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/stylee.css">
    </head>
    <body>
        <div id="cover">
  <form action="/search" method="GET">
    <div class="tb">
      <div class="td">
          <input type="text" name = "query" required></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>
    </body>

</html>


<!-- <a href="https://www.youtube.com/channel/UC7hSS_eujjZOEQrjsda76gA/videos" target="_blank" id="ytd-url">My YouTube Channel</a> -->