<html>
    <header>
        <meta charset="utf-8">
              <link rel="stylesheet" href="../static/cover.css" >
        <link rel="stylesheet" href="../static/nicepage.css">
    </header>
    <head>
            <style>
            body {
              background-image: url("../static/images/Producer.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }
        </style>
    </head>

    <body class="u-body">
        <h2 class="u-text u-text-body-alt-color u-text-2"> Productions query!!</h2>
        <form action="/query1" method="GET">
            <span class="u-text u-text-body-alt-color u-text-2">find the 20 biggest  Productions  :</span>
            <br>
            <span class="u-text u-text-body-alt-color u-text-2">by the amount of films with rank above 7</span><br>
                 <input type="submit" value="search">
        </form><br>


    </body>
</html>