<html>
    <header>
        <h1> Query1</h1>
    </header>
    <body>

        <form action="/query1" method="GET">
            <span> this query does that:</span>
            <br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>

        <form action="/query2" method="GET">
            <span> this query does that:</span><br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>

        <form action="/query3" method="GET">
                <span> this query does that:</span><br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>

        <form action="/query4" method="GET">
                        <span> this query does that:</span><br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>

        <form action="/query5" method="GET">
                <span> this query does that:</span><br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>

        <form action="/query6" method="GET">
            <span> this query does that:</span><br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form><br>

        <form action="/query7" method="GET">
            <span> this query does that:</span><br>
            <span> thid line explains how to use the query</span><br>
            <input type="text" name="query" required>
            <input type="submit" value="search">
        </form>



    </body>
</html>