<html>
    <header>
        <meta charset="utf-8">
              <link rel="stylesheet" href="../static/cover.css" >
        <link rel="stylesheet" href="../static/nicepage.css">
    </header>
    <head>
            <style>
            body {
              background-image: url("../static/images/writer.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }
        </style>
    </head>

    <body class="u-body">
        <h2 class="u-text u-text-body-alt-color u-text-2"> Writres queries!!</h2>
        <form action="/query12" method="GET">
            <h5 class="u-text u-text-body-alt-color u-text-2">What this query does?</h5>
            <input type="submit" value="search">
        </form><br>
    </body>
</html>